In [1]:
import pandas as pd

In [2]:
dfattr = pd.read_excel('dataset/DIAS Attributes - Values 2017.xlsx', header= 1)
dfattr.shape

(2258, 5)

In [3]:
dfattr = dfattr.drop('Unnamed: 0', axis= 1)

In [4]:
dfattr.head(10)

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
1,NaN,NaN,0,no classification possible
2,NaN,NaN,1,passive elderly
3,NaN,NaN,2,cultural elderly
4,NaN,NaN,3,experience-driven elderly
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
6,NaN,NaN,1,< 30 years
7,NaN,NaN,2,30 - 45 years
8,NaN,NaN,3,46 - 60 years
9,NaN,NaN,4,> 60 years

In [5]:
dfattr.loc[~ dfattr['Attribute'].isnull()]

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
11,ALTER_HH,main age within the household,0,unknown / no main age detectable
33,ANREDE_KZ,gender,"-1, 0",unknown
36,ANZ_HAUSHALTE_AKTIV,number of households in the building,…,numeric value (typically coded from 1-10)
...,...,...,...,...
2219,WOHNDAUER_2008,length of residence,"-1, 0",unknown
2229,WOHNLAGE,residential-area,-1,unknown
2238,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,"-1, 0",unknown
2244,W_KEIT_KIND_HH,likelihood of a child present in this household,"-1, 0",unknown
2251,ZABEOTYP,typification of energy consumers,"-1, 9",unknown

In [6]:
dfattr.to_csv('./dataset/cleaned/attr_values_all.csv', index= False)
dfattr.loc[~ dfattr['Attribute'].isnull()].to_csv('./dataset/cleaned/attr_values_unknown.csv', index= False)

In [7]:
dflevel = pd.read_excel('dataset/DIAS Information Levels - Attributes 2017.xlsx', header= 1)
dflevel = dflevel.drop('Unnamed: 0', axis= 1)
dflevel.shape

(313, 4)

In [10]:
dflevel.head(20)

,Information level,Attribute,Description,Additional notes
0,NaN,AGER_TYP,best-ager typology,in cooperation with Kantar TNS; the informatio...
1,Person,ALTERSKATEGORIE_GROB,age through prename analysis,modelled on millions of first name-age-referen...
2,NaN,ANREDE_KZ,gender,NaN
3,NaN,CJT_GESAMTTYP,Customer-Journey-Typology relating to the pref...,"relating to the preferred information, marketi..."
4,NaN,FINANZ_MINIMALIST,financial typology: low financial interest,Gfk-Typology based on a representative househo...
5,NaN,FINANZ_SPARER,financial typology: money saver,NaN
6,NaN,FINANZ_VORSORGER,financial typology: be prepared,NaN
7,NaN,FINANZ_ANLEGER,financial typology: investor,NaN
8,NaN,FINANZ_UNAUFFAELLIGER,financial typology: unremarkable,NaN
9,NaN,FINANZ_HAUSBAUER,financial typology: main focus is the own house,NaN
10,NaN,FINANZTYP,best descirbing financial type for the peron,NaN
11,NaN,GEBURTSJAHR,year of birth,NaN
12,NaN,GFK_URLAUBERTYP,vacation habits,NaN
13,NaN,GREEN_AVANTGARDE,the environmental sustainability is the domina...,own typology based on modelled on different AZ...
14,NaN,HEALTH_TYP,health typology,in cooperation with Kantar TNS; the informatio...
15,NaN,LP_LEBENSPHASE_FEIN,lifestage fine,modelled on different AZ DIAS data
16,NaN,LP_LEBENSPHASE_GROB,lifestage rough,modelled on different AZ DIAS data
17,NaN,LP_FAMILIE_FEIN,family type fine,NaN
18,NaN,LP_FAMILIE_GROB,family type rough,NaN
19,NaN,LP_STATUS_FEIN,social status fine,NaN

In [9]:
dflevel.to_csv('./dataset/cleaned/level_attr.csv')